<launch>
 <group ns="1">
  <node pkg="beginner_tutorial" type="topic_publisher" name="topic_publisher1"/>
  <node pkg="beginner_tutorial" type="topic_subscriber" name="topic_subscriber1"/>
 </group>
 
 <group ns="2">
  <node pkg="beginner_tutorial" type="topic_publisher" name="topic_publisher2"/>
  <node pkg="beginner_tutorial" type="topic_subscriber" name="topic_subscriber2"/>
 </group>
</launch>
