<launch>
	<node pkg="motor_master" type="motor_interface" name="motor_interface"/>
	<node pkg="sonar_interface" type="bus_stop_interface" name="bus_stop_interface"/>
	<node pkg="camera_opencv" type="camera_opencv_node" name="camera_opencv_node"/>
	
	<arg name="arduino_port" default="/dev/ttyUSB1"/>


	<node pkg="rosserial_python" type="serial_node.py" name="servo_serial_node" 
	args="$(arg arduino_port)" respawn="true" respawn_delay="4" required="false" output="screen"/>

	<include file="$(find object_detection_gl_ros)/launch/view_object_detection_gl_ros.launch">
  	</include>
</launch>
