<launch>
	<node pkg="motor_master" type="motor_interface" name="motor_interface">
		<param name="right_turn_mode_duration" type="double" value="1.0"/>
		<param name="rt_and_go_mode_duration" type="double" value="0.4"/>
		<param name="block_left_turn_mode_duration" type="double" value="1.0"/>
		<param name="block_lt_and_go_mode_duration" type="double" value="0.2"/>
		<param name="block_pass_mode_duration" type="double" value="2.0"/>
		<param name="line_left_turn_mode" type="double" value="1.0"/>
		<param name="line_lt_and_go_mode_duration" type="double" value="0.4"/>
		<param name="line_check_init_mode" type="double" value="0.1"/>

		<param name="basic_motor_pwm" type="int" value="30"/>

		<param name="line_state_control" type="int" value="1"/>
	</node>
	<!-- <node pkg="sonar_interface" type="bus_stop_interface" name="bus_stop_interface"/> -->
	<!-- <node pkg="camera_opencv" type="camera_opencv_node" name="camera_opencv_node"/> -->
<!-- 	
	<arg name="arduino_port" default="/dev/ttyUSB1"/>

	<node pkg="rosserial_python" type="serial_node.py" name="servo_serial_node" 
		args="$(arg arduino_port)" respawn="true" respawn_delay="4" required="false" output="screen">
		

	</node> -->

	<node pkg="camera_opencv" type="camera_opencv_node" name="camera_opencv_node" args="0">
		<param name="pass_chg_amount_value" type="int" value="110"/>
	</node>

	<!-- <include file="$(find object_detection_gl_ros)/launch/view_object_detection_gl_ros.launch"></include> -->
</launch>

